AuthorizedKeysFile	.ssh/authorized_keys
PermitEmptyPasswords yes
Subsystem	sftp	sftp-server.exe
ChrootDirectory D:\
Match Group administrators
       AuthorizedKeysFile __PROGRAMDATA__/ssh/administrators_authorized_keys
